.map-container {
  flex-grow: 1; /* Takes up remaining space */
  height: 100vh; /* Full viewport height */
}

.leaflet-container {
  height: 100%; /* Ensures map fills the container */
  width: 100%;
}

/* Cursor style when Simulation Mode is active */
.map-container.sim-mode-active .leaflet-container {
  cursor: crosshair;
}

/* Filter for the SIMULATION icon (applies pink/green color) */
.leaflet-simulation-icon {
  filter: hue-rotate(100deg) brightness(0.9);
}

/* Filter for red icon (Used on Report Page) */
.leaflet-red-icon {
  filter: hue-rotate(240deg) saturate(5) brightness(0.7);
}

